.git
.github
cli
template
thetemplate
venv
.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.next
**/node_modules
**/.env
backend/env.json
backend/start-dev.sh
backend/start-dev.ps1
Dockerfile
.dockerignore
