# template

template/data/
template/model/

# cli

cli/eezyml.egg-info/
cli/dist/

# examples

examples/scikit_learn_mnist/.venv/

# backend
backend/.aws-sam/
backend/env.json
backend/start-dev.ps1
backend/.env

# pycache

**/__pycache__/
**/*.pyc

# others

**/logs/
example/